.app {
    color: #ddd;
    background-color: #424242;
    display: flex;
    flex-direction: row;

    .menu {
        background-color: #323232;
        height: calc(100% - 10px);
    }

    .body {
        height: 100%;
    }
}