.chat-header {
    width: calc(100% - 10px);
    padding: 5px;
    height: 40px;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    position: relative;

    .chat-header-img {
        width: 39.5px;
        height: 39.5px;

        img {
            width: 39.5px;
            height: 39.5px;
            border-radius: 50%;
        }
    }

    .chat-header-name {
        width: calc(100% - calc(60px - 40px));
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;

        div:nth-child(1) {
            width: 100%;
            line-height: 20px;
            font-size: 16px;
        }

        div:nth-child(2) {
            width: 100%;
            line-height: 10px;
            font-size: 8px;
        }
    }

    .chat-header-options {
        position: relative;
        width: 40px;
        height: 40px;

        svg { cursor: pointer; }
        svg:hover { opacity: 0.6; }
    }

    .chat-header-option {
        min-width: 50px;
        min-height: 20px;
        padding: 10px;
    
        background-color: #323232;
        position: absolute;
        border-radius: 4px;
    }

    .chat-header-option.video {
        display: grid;
        grid-template-columns: 50% 50%;

        top: 52px;
        right: 3px;

        div {
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;

            svg { cursor: pointer; }
            svg:hover { opacity: 0.6; }
        }
    }
}

.chat-messages {
    background-color: #404040;
    width: calc(100% - 2px);
    height: calc(100% - 50px);
    border-left: solid 1px #323232;
    border-right: solid 1px #323232;
    border-bottom: solid 1px #323232;

    .list-messages {
        position: relative;
        overflow-y: auto;
        width: calc(100% - 2vw);
        padding: 1vh 1vw ;
        height: calc(100% - calc(50px + 2vh));
    }

    .message-input {
        width: calc(100% - 6px);
        padding: 3px;
        height: 44px;

        .message-sender {
            width: 100%;
            height: 100%;
            border-radius: 3px;
            background-color: #323232;
            position: relative;

            input[type = text] {
                margin: 1vh 1vw;
                width: calc(100% - 4vw);
                height: calc(100% - 2vh);
                padding: 0px 1vw;
                border: none;
                border-radius: 3px;
                outline: 0;
            }

            .sender {
                cursor: pointer;
                position: absolute;
                right: 1.5vw;
                bottom: 1.1vh;
                background-color: #323232;
                padding: 5px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .sender:hover {
                opacity: 0.6;
            }
        }
    }
}