.message {
    width: calc(100% - 10px);
    padding: 5px;
    display: flex;
   
    .internal {
        max-width: calc(85% - 2vw);
        padding: 1vh 1vw;
        border-radius: 3px;
        display: flex;
        flex-direction: column;

        .info {
            font-size: 8px;
            padding-top: 4px;
        }
    }

    .sended {
        background-color: #323232;
        .info { text-align: right; }
    }
    
    .received {
        background-color: #383838;
        .info { text-align: left; }
    }
}
.message.sended {
    justify-content: flex-end;
}
.message.received {
    justify-content: flex-start;
}